body
{
	background-color: #0f2862;
}

.colorscheme
{
	background: #0f2862;
	background: #9e363a;
	background: #091f36;
	background: #4f5f76;
}

.colorscheme1
{
	background-color: #6b7a8f;
	background-color: #f7882f;
	background-color: #f7c331;
	background-color: #dcc7aa;
}

.colorscheme2
{
	background-color: #1561ad;
	background-color: #1c77ac;
	background-color: #1dbab4;
	background-color: #fc5226;
}

.colorscheme3
{
	background-color: #96858f;
	background-color: #6d7993;
	background-color: #9099a2;
	background-color: #d5d5d5;
}